:global{
  @import '../../node_modules/normalize.css/normalize.css';


  html, body{
    margin: 0;
    padding: 0;

    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    font-family: 'Open Sans', sans-serif;
    color: #b8cc6c;
    background-color: #8e9966;
  }
}

.root {
  margin: 0 auto;
  max-width: 800px;
  background-color: #8e9966;
}
