:global{

  /*@import '../../node_modules/normalize.css/normalize.css';*/


  html, body{
    margin: 0;
    padding: 0;

    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
    font-family: 'Roboto', sans-serif;
  }
}
.title{ cursor: pointer; }
.root {
  margin: 0 auto;
  /*background-color: #8e9966;*/
}
