.root{
  border: 1px solid #b8cc6c;
  padding: 1em;
  margin: .25em;
  border-radius: 5px;
  background-color: #b8cc6c;
  color: #000;
}

.gender{
  border: 1px solid #8e9966;
  background-color: #ffec7b;
  padding: .2em .5em;
  border-radius: 5px;
  font-size: 65%;
}

.male{  background-color: #bbc6ff; }
.female{  background-color: #ffc3f4; }
.btn{
  border-radius: 5px;
  border: 1px solid #8e9966;
  background-color: #b8cc6c;
  padding: 2px 5px;
  font-size: 75%;
}
